* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.modelGlasses {
  position: absolute;
  top: 95px;
  left: 205px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.glasses {
}
